---
layout: default
title: USTC Computational Neuroscience Journal Club
---

<div id="content" role="main">

  <p class="section-title">
    <h2>Test</h2>
  </p>
  
    {% comment %} convert our dates to Number of seconds since 1970-01-01 00:00:00 UTC {% endcomment %} 
    {% assign dateStart = '2021/11/22, 7:00am' | date: '%s' %} 
    {% assign nowTimestamp = 'now' | date: '%s' %} 
       
    {% comment %} difference in seconds {% endcomment %} 
    {% assign diffSeconds = dateStart | minus: nowTimestamp %} 
    <p>difference in Seconds = {{ diffSeconds }}</p>
    
    {% comment %} difference in days {% endcomment %} 
    {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}    
    <p>difference in days = {{ diffDays }}</p> 
    {% if diffSeconds > 0 %}
        <p>True!</p>
    {% else %}
        <p>False!</p>
    {% endif %}
  

  {% for entry in site.data.meeting_info %}
    {% assign date = entry.date | date_to_string%}
    {% assign post1 = site.posts | first %}
    <p>Date: {{date}} {{post1.date}}</a></p>
    {% assign summary = site.posts | where: "title", entry.paper | where: "date", date%}
    {% if summary %}
      <p><a href= summary.url >{{ summary.title }}</a></p>
    {% endif %}
  {% endfor %}

  {% comment %}
  <ul>
    {% for post in site.pages %}
        <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <!-- {{ post.excerpt }} -->
        <p>{{ post.date | date_to_string }} - {{ post.author }}</p>
        </li>
    {% endfor %}
    </ul>
    {% endcomment %}

</div><!-- #content -->