---
layout: default
title: USTC Computational Neuroscience Journal Club
---

<div id="content" role="main">

  <p class="section-title">
    <h2>Test</h2>
  </p>
  
    {% comment %} convert our dates to Number of seconds since 1970-01-01 00:00:00 UTC {% endcomment %} 
    {% assign dateStart = '2021/11/22, 7:00am' | date: '%s' %} 
    {% assign nowTimestamp = 'now' | date: '%s' %} 
       
    {% comment %} difference in seconds {% endcomment %} 
    {% assign diffSeconds = dateStart | minus: nowTimestamp %} 
    <p>difference in Seconds = {{ diffSeconds }}</p>
    
    {% comment %} difference in days {% endcomment %} 
    {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}    
    <p>difference in days = {{ diffDays }}</p> 
    {% assign nowTime = 'now' | date: '%Y-%m-%d %H:%M:%S' %} 
    {% if diffSeconds > 0 %}
        <p>T{{nowTime}}</p>
    {% else %}
        <p>F{{nowTime}}</p>
    {% endif %}
  
{% comment %}
  {% for entry in site.data.meeting_info %}
    {% assign summary = site.posts |  where: "title", entry.paper%}
    {% for summary_page in summary %}
      {% assign entry_date = entry.date | date_to_string%}
      {% assign summary_date = summary_page.date | date_to_string%}
      {% if summary_date == entry_date %}
        <p>{{ summary_page.author }}: <a href= {{summary_page.url}} target="_blank">Summary</a>{{ summary_page.title }}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endcomment %}


  <ul>
    {% for post in site.pages %}
        <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <!-- {{ post.excerpt }} -->
        <p>{{ post.date | date_to_string }} - {{ post.author }}</p>
        </li>
    {% endfor %}
    </ul>

</div><!-- #content -->