<div id="footer" role="contentinfo">
  <div id="colophon">
    <div id="site-info">
      <a href="/index.html" title="USTC Computational Neuroscience Journal Club" rel="home">
        USTC Computational Neuroscience Journal Club </a> <br>
        <p style="font-size: 11px;">
          Modified by
          <a href="https://github.com/wuyxiquanquan"> Yuxiang Wu</a>
          and
          <a href="https://github.com/Pripribiologist"> Pinjie Li</a>
        </p>

    </div><!-- #site-info -->
  </div><!-- #colophon -->
</div><!-- #footer -->
