<div id="footer" role="contentinfo">
  <div id="colophon">
    <div id="site-info">
      <a href="/index.html" title="USTC Computational Neuroscience Journal Club" rel="home">
        <font color="blue">USTC Computational Neuroscience Journal Club </font></a> <br>
        <p style="font-size: 11px;">
          Modified by
          <a href="https://github.com/wuyxiquanquan">  <font color="blue">Yuxiang Wu</font></a>
          ,
          <a href="https://github.com/Pripribiologist"> <font color="blue">Pinjie Li</font></a>
          ,
          <a href="https://github.com/RongkangXiong"> <font color="blue">Rongkang Xiong</font></a>
          ,
          <a href="https://github.com/cyk-git"> <font color="blue">Yukun Cheng</font></a>
          and
          <a href="https://github.com/Physics-Lee"> <font color="blue">Yixuan Li</font></a>
        </p>

    </div><!-- #site-info -->
  </div><!-- #colophon -->
</div><!-- #footer -->
