---
layout: default
---

<p class="section-title">
</p><h2>Summary</h2>

<h4><b>{{ page.title }}</b></h4>

<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}

<blockquote style="background-color:#DCDCDC">
  <p>Original author： {{ page.author }}
  <br>Link： <a href= https://{{site.url}}{{page.url}}> https://{{site.url}}{{page.url}} </a>
  <br>Copyright Notice： All articles on this WenLab site are subject to a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="noopener" target="_blank" data-pjax-state="load"><i class="fab fa-fw fa-creative-commons"></i>BY-NC-SA</a> license</a> agreement, except for special notices. Reprint please indicate the source!</p>
</blockquote>